In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from scipy.stats import mode 
pd.set_option('display.max_rows', 300)

In [113]:
#i put 2018 and 2019 data on separate cell and dont put them inside a dictionary yet
#it's because the first step is data cleaning and both data could have different needs of cleaning
#then after both data has been cleaned, i put the pivoted and melted data frame inside a dictionary separated by year

In [114]:

#load data to data frame
#2018
#df = pd.read_excel('jambi 2018.xls')
#df.to_csv('jambi 2018.csv')
df_2018 = pd.read_csv('Jambi 2018.csv')
df_2018 = df_2018.drop(columns='Unnamed: 0')
df_2018 = df_2018.drop(columns='No.')
df_2018.rename(columns={'Komoditas(Rp)' : 'Komoditas'}, inplace=True)
df_2018

,Komoditas,02/01/2018,03/01/2018,04/01/2018,05/01/2018,08/01/2018,09/01/2018,10/01/2018,11/01/2018,12/01/2018,...,14/12/2018,17/12/2018,18/12/2018,19/12/2018,20/12/2018,21/12/2018,26/12/2018,27/12/2018,28/12/2018,31/12/2018
0,Beras,11900,12150,12100,12100,12150,12000,12050,12150,12200,...,12100,12100,12100,12100,12100,12100,12100,12100,12100,12100
1,Daging Ayam,41000,40400,40100,38650,38600,39650,39650,38500,38250,...,32150,33250,33500,35750,35650,37150,38900,38750,38750,39650
2,Daging Sapi,127500,125000,124400,125000,123750,123750,115750,122500,121250,...,123750,123750,123750,123750,123750,123750,123750,123750,123750,129400
3,Telur Ayam,23400,21700,21700,21700,21750,21700,21450,21500,21450,...,21650,21700,21650,21650,21650,21650,21650,21650,21650,21700
4,Bawang Merah,22650,22000,21750,22000,22400,23250,23250,22150,22750,...,28250,28500,27500,27500,27500,27500,27250,26250,25900,27250
5,Bawang Putih,20900,20900,20500,19750,20400,20400,20650,20650,20900,...,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000
6,Cabai Merah,43450,54150,49550,47150,43950,45700,44750,42700,43650,...,27200,28450,28600,28250,28050,28100,27200,27200,26350,25250
7,Cabai Rawit,35900,47700,49450,51950,45650,45650,46950,46450,46200,...,30750,31500,31350,31950,31600,32850,35350,34950,37550,39400
8,Minyak Goreng,12600,12350,12350,12450,12400,12550,12600,12750,12650,...,11650,11650,11650,11650,11650,11650,11650,11650,11650,11650
9,Gula Pasir,13750,13400,13400,13400,13450,13500,13500,13500,13500,...,12950,12950,12950,12950,12950,12950,12950,12950,12950,12950

In [115]:
#loading data and doing necessary cleaning
#2019
df_2019 = pd.read_csv('Jambi 2019.csv')
df_2019  = df_2019.drop(columns='Unnamed: 0')
df_2019  = df_2019.drop(columns='No.')
df_2019 .rename(columns={'Komoditas(Rp)' : 'Komoditas'}, inplace=True)

#print(df[['Komoditas', 'No.']])
#print(df.dtypes)
df_2019  = df_2019.drop([1, 2, 3, 4, 5, 6, 8, 10, 11, 13, 15, 17, 19, 20, 22, 23, 25, 26, 27, 29, 30]).reset_index(drop=True)

#df.drop
df_2019.head()

,Komoditas,02/01/2019,03/01/2019,04/01/2019,07/01/2019,08/01/2019,09/01/2019,10/01/2019,11/01/2019,14/01/2019,...,16/12/2019,17/12/2019,18/12/2019,19/12/2019,20/12/2019,23/12/2019,26/12/2019,27/12/2019,30/12/2019,31/12/2019
0,Beras,11650,11650,11650,11650,11650,11650,11650,11650,11650,...,11700,11700,11700,11700,11700,11700,11700,11700,11700,11700
1,Daging Ayam,38500,38500,38000,35250,34000,33000,32250,31250,29750,...,31250,32000,32000,31750,32250,32500,33250,33750,34250,34250
2,Daging Sapi,125000,125000,125000,125000,122500,122500,122500,122500,122500,...,122500,122500,122500,122500,122500,122500,122500,122500,122500,122500
3,Telur Ayam,22250,22150,22150,22150,22150,22150,22150,22150,22150,...,22500,22500,22500,22500,22500,22500,22500,22500,22150,22150
4,Bawang Merah,27000,27000,26250,25750,25750,26000,26000,26000,24500,...,31000,31500,33750,35500,35750,36500,38500,38500,38500,37500

In [116]:
#melting each data frame into new data frame and put them in a dictioary separated by year
all_df_melt = {}
year = ['2018', '2019']
df_all = [df_2018, df_2019]
for i in range(len(year)):
    all_df_melt[year[i]] = pd.melt(frame=df_all[i], id_vars=['Komoditas'], var_name="Tanggal", value_name='Harga')
    #you have to change the dtype of Tanngal to datetime, and remember python use american date format, we 
    #to use indonesia format so dayfirst = True, and datetime object for python pandas always yyyy-mm-dd, so dont worry
    all_df_melt[year[i]]['Tanggal'] = pd.to_datetime(all_df_melt[year[i]]['Tanggal'], dayfirst=True)
    all_df_melt[year[i]]=all_df_melt[year[i]].sort_values(by=['Komoditas', 'Tanggal']).reset_index(drop=True)
    all_df_melt[year[i]]['Harga'] = pd.to_numeric(all_df_melt[year[i]]['Harga'], downcast='integer')

In [117]:
#pivoting data frames and put them inside a dictionary separated by year
all_df_pivot = {}
for i in range(len(year)):
    all_df_pivot[year[i]] = all_df_melt[year[i]].pivot(columns='Komoditas', index='Tanggal', values='Harga').reset_index()
    all_df_pivot[year[i]]['Hari'] = all_df_pivot[year[i]]['Tanggal'].dt.day
    #df_pivot.Tanggal.str.split('/', expand=True)[0]

In [118]:
#performing simple Descriptive Statistic
all_df_aggregate = {}
year = ['2018', '2019']
for i in range(len(year)):
    df_mean = all_df_melt[year[i]].groupby('Komoditas').Harga.mean().round(2).reset_index()
    df_mean.rename(columns={'Harga': 'Mean'}, inplace=True)
    df_median = all_df_melt[year[i]].groupby('Komoditas').Harga.median().reset_index()
    df_median.rename(columns={'Harga': 'Median'}, inplace=True)
    #df_mode = all_df_melt[year[i]].groupby('Komoditas').apply(lambda x: mode(x)[0][0]).reset_index()
    #df_mode.rename(columns={'Harga': 'Mode'}, inplace=True)
    df_std = all_df_melt[year[i]].groupby('Komoditas').Harga.std().round(2).reset_index()
    df_std.rename(columns={'Harga': 'STD'}, inplace=True)
    df_max = all_df_melt[year[i]].groupby('Komoditas').Harga.max().reset_index()
    df_max.rename(columns={'Harga': 'Max'}, inplace=True)
    df_min = all_df_melt[year[i]].groupby('Komoditas').Harga.min().reset_index()
    df_min.rename(columns={'Harga': 'Min'}, inplace=True)
    #df_agregat = df_melt.groupby('Komoditas').Harga.mean().reset_index()
    all_df_aggregate[year[i]] = df_mean.merge(df_median).merge(df_std).merge(df_max).merge(df_min)
    all_df_aggregate[year[i]]['No.'] = range(1, len(all_df_aggregate[year[i]])+1)
    all_df_aggregate[year[i]] = all_df_aggregate[year[i]][['No.', 'Komoditas', 'Mean', 'Median', 'Max', 'Min', 'STD']]

In [119]:
all_df_melt['2018']

         Komoditas    Tanggal  Harga
0     Bawang Merah 2018-01-02  22650
1     Bawang Merah 2018-01-03  22000
2     Bawang Merah 2018-01-04  21750
3     Bawang Merah 2018-01-05  22000
4     Bawang Merah 2018-01-08  22400
...            ...        ...    ...
2445    Telur Ayam 2018-12-21  21650
2446    Telur Ayam 2018-12-26  21650
2447    Telur Ayam 2018-12-27  21650
2448    Telur Ayam 2018-12-28  21650
2449    Telur Ayam 2018-12-31  21700

[2450 rows x 3 columns]

In [120]:
all_df_melt['2019']

         Komoditas    Tanggal  Harga
0     Bawang Merah 2019-01-02  27000
1     Bawang Merah 2019-01-03  27000
2     Bawang Merah 2019-01-04  26250
3     Bawang Merah 2019-01-07  25750
4     Bawang Merah 2019-01-08  25750
...            ...        ...    ...
2485    Telur Ayam 2019-12-23  22500
2486    Telur Ayam 2019-12-26  22500
2487    Telur Ayam 2019-12-27  22500
2488    Telur Ayam 2019-12-30  22150
2489    Telur Ayam 2019-12-31  22150

[2490 rows x 3 columns]

In [121]:
all_df_pivot['2018']

Komoditas,Tanggal,Bawang Merah,Bawang Putih,Beras,Cabai Merah,Cabai Rawit,Daging Ayam,Daging Sapi,Gula Pasir,Minyak Goreng,Telur Ayam,Hari
0,2018-01-02,22650,20900,11900,43450,35900,41000,127500,13750,12600,23400,2
1,2018-01-03,22000,20900,12150,54150,47700,40400,125000,13400,12350,21700,3
2,2018-01-04,21750,20500,12100,49550,49450,40100,124400,13400,12350,21700,4
3,2018-01-05,22000,19750,12100,47150,51950,38650,125000,13400,12450,21700,5
4,2018-01-08,22400,20400,12150,43950,45650,38600,123750,13450,12400,21750,8
5,2018-01-09,23250,20400,12000,45700,45650,39650,123750,13500,12550,21700,9
6,2018-01-10,23250,20650,12050,44750,46950,39650,115750,13500,12600,21450,10
7,2018-01-11,22150,20650,12150,42700,46450,38500,122500,13500,12750,21500,11
8,2018-01-12,22750,20900,12200,43650,46200,38250,121250,13500,12650,21450,12
9,2018-01-15,21250,19250,12200,44300,45850,37900,122500,13500,12750,21300,15
10,2018-01-16,20150,19650,12200,42400,45850,37750,122500,13400,12750,21300,16
11,2018-01-17,19000,19650,12200,43300,48500,37200,122500,13350,12750,21150,17
12,2018-01-18,19250,19650,12150,41600,47200,37000,122500,13300,12650,21100,18
13,2018-01-19,18650,19500,12150,41350,50800,36400,122500,13350,12650,21100,19
14,2018-01-22,19500,20750,12150,42700,48450,35400,122500,13400,12650,20850,22
15,2018-01-23,18750,19500,12150,43800,49200,34700,122500,13350,12650,20800,23
16,2018-01-24,18200,19500,12100,43800,46300,33400,122500,13350,12650,21100,24
17,2018-01-25,18350,19250,12150,44700,47100,32650,122500,13350,12650,20750,25
18,2018-01-26,17850,19250,12150,42650,50650,31150,122500,13350,12650,20600,26
19,2018-01-29,17600,19500,12100,44300,50050,30350,122500,13200,12650,20600,29
20,2018-01-30,17100,19500,12100,43700,48200,29250,122500,13200,12600,20550,30
21,2018-01-31,17350,19500,12100,40950,45850,29400,122500,13200,12600,20500,31
22,2018-02-01,18200,19500,12100,36350,43350,29650,122500,13050,12600,20450,1
23,2018-02-02,18500,19500,12100,35450,42700,30200,122500,13050,12600,20450,2
24,2018-02-05,18750,22000,12100,36200,42950,30750,122500,13050,12650,20350,5
25,2018-02-06,19500,22150,12100,33450,40400,30900,122500,13050,12650,20350,6
26,2018-02-07,19900,22250,12100,34700,40950,30950,122500,13050,12650,20450,7
27,2018-02-08,20400,22500,12100,35200,40350,30700,122500,13050,12650,20450,8
28,2018-02-09,20000,22150,12100,35700,40350,30500,122500,13050,12650,20300,9
29,2018-02-12,21650,26750,12100,41150,52350,30650,122500,13050,12650,20250,12
30,2018-02-13,22000,27650,12100,41500,52400,30650,122500,13050,12650,20250,13
31,2018-02-14,22000,28250,12100,43500,46250,30650,122500,13050,12650,20250,14
32,2018-02-15,22000,28000,12100,43150,45950,30750,122500,13050,12650,20250,15
33,2018-02-19,21900,28500,12100,42100,42650,29350,122500,13050,12650,20250,19
34,2018-02-20,22150,29500,12100,43750,42400,29250,122500,13050,12700,19950,20
35,2018-02-21,21750,30250,12100,43600,42250,29200,122500,13050,12650,19950,21
36,2018-02-22,21900,30400,12100,43600,41550,29150,122500,13050,12650,19950,22
37,2018-02-23,21900,29650,12100,42300,41700,29150,122500,13050,12650,19950,23
38,2018-02-26,22400,29650,12100,41850,43200,28750,122500,13050,12700,19600,26
39,2018-02-27,22100,29500,12100,40950,43000,28650,122500,13050,12650,19600,27
40,2018-02-28,22400,29900,12100,41150,43400,28650,122500,13050,12650,19550,28
41,2018-03-01,22750,31150,12100,42650,42950,28500,122500,13050,12650,19600,1
42,2018-03-02,22500,30000,12100,43850,43750,27900,122500,13050,12650,19450,2
43,2018-03-05,21500,29950,12100,41800,46000,31150,122500,13050,12650,19600,5
44,2018-03-06,21750,29950,12100,41050,45450,31150,122500,13050,12650,19600,6
45,2018-03-07,22650,29500,12100,42500,44450,31000,122500,13050,12650,19650,7
46,2018-03-08,23250,30150,12100,43800,45900,30900,122500,13000,12650,19650,8
47,2018-03-09,23000,30150,12100,46250,46650,31500,122500,13000,12650,19650,9
48,2018-03-12,23500,28650,12100,48800,46900,31500,122500,13050,12650,19650,12
49,2018-03-13,23150,29150,12100,48950,47400,31500,122500,13050,12650,19650,13
50,2018-03-14,23400,28650,12100,50550,46800,32000,122500,13050,12650,19700,14
51,2018-03-15,24000,28400,12100,55650,49550,32400,122500,13050,12650,19850,15
52,2018-03-16,24000,28000,12100,53300,49400,32400,122500,13050,12650,19750,16
53,2018-03-19,23650,28500,12100,45900,51850,32900,122500,13050,12700,19650,19
54,2018-03-20,23500,28500,12100,44050,49150,32400,122500,13050,12700,19650,20
55,2018-03-21,23150,28750,12100,46100,48050,32900,122500,13050,12700,19650,21
56,2018-03-22,23150,29000,12100,46950,47000,33750,122500,13050,12700,19650,22
57,2018-03-23,24400,36250,12100,46050,45950,34000,122500,13050,12700,19650,23
58,2018-03-26,29400,41500,12100,42300,44900,35150,122500,13050,12700,19750,26
59,2018-03-27,30250,41650,12100,41250,44600,34400,122500,13050,12700,19750,27
60,2018-03-28,30900,39150,12050,44750,46850,34150,122500,13050,12700,19750,28
61,2018-03-29,32000,39150,12050,44050,46100,34250,122500,13050,12700,19750,29
62,2018-04-02,35250,36150,11950,40400,44650,33750,122500,13050,12700,19750,2
63,2018-04-03,35750,36150,11950,41850,43900,33500,122500,13050,12700,19900,3
64,2018-04-04,34650,35150,11950,41400,43650,33650,122500,13050,12700,19700,4
65,2018-04-05,34500,34900,11950,40650,42150,32650,122500,13050,12700,19700,5
66,2018-04-06,35000,35150,11950,39450,42400,32400,122500,13050,12700,19750,6
67,2018-04-09,34250,36250,11950,40550,39700,32900,122500,13050,12700,19750,9
68,2018-04-10,33950,35850,11950,39700,39950,32950,122500,13050,12700,19650,10
69,2018-04-11,33950,35600,11950,39850,39500,33100,122500,13050,12700,19600,11
70,2018-04-12,34100,35100,11950,39000,39050,33350,122500,13050,12700,19450,12
71,2018-04-13,34400,34400,11950,35900,39600,34750,122500,13050,12700,19250,13
72,2018-04-16,35250,34500,11950,36700,36650,35750,122500,13050,12700,19350,16
73,2018-04-17,35150,34250,11950,35150,36300,35900,122500,13050,12700,19400,17
74,2018-04-18,33750,32750,11950,33900,35100,35400,122500,13050,12700,19400,18
75,2018-04-19,33650,32500,11950,32450,39050,35400,122500,13050,12700,19450,19
76,2018-04-20,33900,32500,11950,31150,38250,35650,122500,13050,12700,19450,20
77,2018-04-23,34100,32500,11950,29100,34400,36250,122500,13050,12700,19700,23
78,2018-04-24,35100,32500,11950,30450,35900,36650,122500,13050,12700,19850,24
79,2018-04-25,34800,32250,11950,29950,35300,36750,122500,13050,12700,19850,25
80,2018-04-26,34000,31000,11950,32250,34750,37250,122500,13050,12700,20150,26
81,2018-04-27,33650,29400,11950,40350,38400,37750,122500,13050,12700,20150,27
82,2018-04-30,32250,28250,11950,36300,38500,38650,122500,13050,12700,20400,30
83,2018-05-02,31200,28600,11950,33900,36800,38900,122500,13050,12700,20450,2
84,2018-05-03,31200,28700,11950,35700,37150,38900,122500,13050,12700,21500,3
85,2018-05-04,31200,28200,11950,33150,36650,40000,122500,13050,12700,21500,4
86,2018-05-07,31000,24600,11950,29950,35600,43400,121900,13050,12700,21700,7
87,2018-05-08,31650,23750,11950,30700,36000,43150,121900,13050,12700,21700,8
88,2018-05-09,31650,23650,11950,31750,35350,44150,121900,13050,12700,21700,9
89,2018-05-11,31900,23750,11950,34600,35850,45250,123150,13050,12700,21850,11
90,2018-05-14,31500,25000,11950,31750,35900,44650,128750,13050,12700,22100,14
91,2018-05-15,31500,24750,11950,32600,34600,44750,130000,13050,12700,22600,15
92,2018-05-16,32000,24250,11950,33900,34450,45000,130000,13050,12700,22350,16
93,2018-05-17,32000,24250,11950,34100,35600,44900,130000,13050,12700,22450,17
94,2018-05-18,31500,24900,11950,33100,38550,43500,128750,13050,12700,22450,18
95,2018-05-21,32150,24650,11950,27900,35850,39150,126250,13050,12700,22450,21
96,2018-05-22,32150,24500,11950,26800,34950,38500,126250,13050,12700,22450,22
97,2018-05-23,31900,24500,11950,26600,35200,36750,126250,13100,12700,22450,23
98,2018-05-24,31900,24500,11950,25450,32500,36400,126250,13100,12700,22450,24
99,2018-05-25,30650,24000,11950,27700,33500,35650,126250,13100,12700,22450,25
100,2018-05-28,29000,23500,11950,26600,32500,34900,126250,13100,12700,22300,28
101,2018-05-30,29000,23500,11950,25900,33900,35000,126250,13100,12700,21800,30
102,2018-05-31,29000,23000,11950,25450,34200,33150,126250,13100,12700,21800,31
103,2018-06-04,29250,23250,11950,25700,34200,32750,126250,13050,12700,21850,4
104,2018-06-05,29250,23250,11950,25200,33700,32900,126250,13050,12700,21850,5
105,2018-06-06,29250,23250,11950,25350,34850,33150,126250,13050,12700,21850,6
106,2018-06-07,29000,23250,11950,25000,36000,32900,126250,13050,12700,21850,7
107,2018-06-08,29000,23250,11950,25500,36600,33000,126250,13050,12700,21850,8
108,2018-06-11,28000,23500,11950,35850,45550,35500,135000,13050,12700,21850,11
109,2018-06-12,27400,23500,11950,38200,47650,35750,132500,13050,12700,21850,12
110,2018-06-13,27400,23500,11950,34250,48850,36650,133750,13050,12700,21850,13
111,2018-06-18,27500,23500,11950,33700,46100,38650,127500,13050,12700,21850,18
112,2018-06-19,27500,23500,11950,29450,48650,39000,127500,13050,12700,21700,19
113,2018-06-20,30150,25750,11950,25700,50850,37150,126250,13050,12700,21700,20
114,2018-06-21,30150,25750,11950,23950,46200,35650,126250,13050,12700,21450,21
115,2018-06-22,30150,25750,11950,23100,41700,35250,123750,13050,12700,21450,22
116,2018-06-25,29400,25650,11950,32400,39850,35750,123750,13050,12700,21450,25
117,2018-06-26,29400,25400,11950,27350,40050,36150,123750,13050,12700,21450,26
118,2018-06-28,29650,25150,11950,24250,38750,36250,123750,13050,12650,21350,28
119,2018-06-29,29900,25150,11950,24900,40400,36500,123750,13050,12650,21350,29
120,2018-07-02,29150,25250,11950,27700,46300,37750,123750,13050,12650,21400,2
121,2018-07-03,28250,25000,11950,28450,48500,38500,123750,13050,12650,21400,3
122,2018-07-04,28000,24250,11950,28200,47800,39400,123750,13050,12650,21650,4
123,2018-07-05,27750,24000,11950,27000,48000,39400,123750,13050,12650,21650,5
124,2018-07-06,27150,23750,11950,28250,48950,39650,123750,13050,12650,21800,6
125,2018-07-09,27650,23750,11950,33700,50500,41000,123750,13050,12650,21800,9
126,2018-07-10,27400,23750,11950,30650,49250,41250,123750,13050,12650,21800,10
127,2018-07-11,27500,23750,11950,30900,49700,42400,123750,13050,12650,21950,11
128,2018-07-12,27400,23750,11950,31600,52450,42650,123750,13050,12650,22950,12
129,2018-07-13,27500,23500,11950,31400,53150,44150,123750,13050,12650,23100,13
130,2018-07-16,27650,23500,11950,31200,53450,43750,123750,13050,12650,23700,16
131,2018-07-17,27250,23500,11950,29250,54400,43750,123750,13050,12650,23700,17
132,2018-07-18,24750,23500,11950,27950,53300,51900,123750,13050,12600,23750,18
133,2018-07-19,24250,23500,11950,26650,51700,51900,123750,13050,12600,23750,19
134,2018-07-20,23250,23500,11950,27450,50850,51900,123750,13050,12600,23750,20
135,2018-07-23,22900,23250,11950,24600,48950,50400,123750,13050,12600,23750,23
136,2018-07-24,22650,23750,11950,23750,47150,46900,123750,13050,12600,23750,24
137,2018-07-25,22650,23500,11950,22550,47500,46900,123750,13050,12600,23750,25
138,2018-07-26,22150,23750,11950,24100,47250,46500,123750,13050,12600,23750,26
139,2018-07-27,21750,23750,11950,23350,47350,42400,123750,13050,12600,23600,27
140,2018-07-30,23400,23500,11950,25600,47850,40000,123750,13050,12600,23600,30
141,2018-07-31,23650,23500,11950,25400,48000,39650,123750,13050,12600,23600,31
142,2018-08-01,24250,23500,11950,27850,48150,38650,123750,13050,12600,23400,1
143,2018-08-02,24250,23500,11950,28900,48350,38250,123750,13050,12600,23400,2
144,2018-08-03,24250,23500,11950,29250,48650,37750,123750,13050,12600,23400,3
145,2018-08-06,23650,23500,11950,27850,46650,35250,123750,13050,12600,22950,6
146,2018-08-07,23650,23500,11950,28200,46150,35000,123750,13050,12600,22950,7
147,2018-08-08,24000,23500,11950,28700,44950,34900,123750,13050,12600,22450,8
148,2018-08-09,24500,23500,11950,32100,45950,34250,123750,13050,12600,22450,9
149,2018-08-10,24500,23500,11950,31050,45150,33900,123750,13050,12600,22450,10
150,2018-08-13,24500,23500,11950,26200,48200,32750,123750,13050,12600,22300,13
151,2018-08-14,24500,23500,11950,27950,49200,32500,123750,13050,12600,22250,14
152,2018-08-15,24250,23500,11950,27500,46950,32150,123750,13050,12600,22150,15
153,2018-08-16,23750,23500,11950,26400,47200,31900,123750,13050,12600,22100,16
154,2018-08-20,23000,23750,11950,27200,46100,35250,125000,13050,12550,22100,20
155,2018-08-21,23000,23750,11950,27100,50350,37150,132500,13050,12550,22150,21
156,2018-08-23,22750,23750,11950,30150,43850,36650,124400,13050,12550,22150,23
157,2018-08-24,22750,23500,11950,28850,45500,36500,124400,13050,12550,22100,24
158,2018-08-27,22500,23500,11950,26100,40450,35500,123750,13050,12550,22000,27
159,2018-08-28,22250,23250,11950,22850,39400,35500,123750,13000,12500,21900,28
160,2018-08-29,21500,23250,11950,22200,36400,35250,123750,13000,12500,21750,29
161,2018-08-30,20500,23250,11950,21500,36400,35250,123750,13000,12500,21750,30
162,2018-08-31,19750,23250,11950,21000,35750,35250,123750,13000,12450,21750,31
163,2018-09-03,19750,23000,11950,23200,35600,33000,123750,13000,12400,21750,3
164,2018-09-04,19750,23000,11950,24400,35150,32000,123750,13000,12400,21850,4
165,2018-09-05,19750,23000,11950,24100,34350,31900,123750,13000,12400,21850,5
166,2018-09-06,20000,23000,11950,25850,34500,31400,123750,13000,12400,21850,6
167,2018-09-07,20000,23000,11950,25850,34750,30400,123750,13000,12400,21750,7
168,2018-09-10,19750,22500,11950,23600,34900,29500,123750,13000,12400,21750,10
169,2018-09-12,19250,22000,11950,26600,36650,28500,123750,13000,12400,21500,12
170,2018-09-13,18900,21750,11950,27650,36750,28500,123750,13000,12400,21500,13
171,2018-09-14,18900,21750,11950,27900,36850,27750,123750,13000,12400,20750,14
172,2018-09-17,17750,21500,11950,26700,37200,27400,123750,13000,12400,20500,17
173,2018-09-18,17750,21500,11950,26650,37650,26500,123750,13000,12350,20450,18
174,2018-09-19,17750,21500,11950,26350,37600,26000,123750,13000,12150,20350,19
175,2018-09-20,17250,21500,11950,26100,37700,26000,123750,13000,12150,20350,20
176,2018-09-21,17250,21500,11950,25950,37600,25500,123750,13000,12150,20000,21
177,2018-09-24,16650,21500,11950,29450,37100,25150,123750,13000,12150,20000,24
178,2018-09-25,16650,21500,11950,30500,36250,25000,123750,13000,12100,19750,25
179,2018-09-26,16650,21500,11950,29450,34850,25400,123750,12950,12050,19300,26
180,2018-09-27,16650,21500,11950,27850,34850,25650,123750,12950,11900,19300,27
181,2018-09-28,16650,21500,11950,27350,34600,25750,123750,12950,11900,19300,28
182,2018-10-01,16650,21750,11950,27650,34500,28000,123750,12950,11900,19300,1
183,2018-10-02,16650,21750,11950,27750,34100,29750,123750,12950,11900,19300,2
184,2018-10-03,16650,21750,11950,27650,34100,29900,123750,12950,11900,19300,3
185,2018-10-04,16400,21750,12100,26000,34450,30250,123750,12950,11900,19600,4
186,2018-10-05,16400,21750,12100,25900,34450,30650,123750,12950,11900,19600,5
187,2018-10-08,16250,21750,12100,28750,35900,32000,123750,12950,11900,19600,8
188,2018-10-09,16400,21750,12100,29150,36950,32000,123750,12950,11900,19700,9
189,2018-10-10,16900,21750,12100,30100,37200,32150,123750,12950,11900,19700,10
190,2018-10-11,17000,21750,12100,30650,36850,32400,123750,12950,11900,19800,11
191,2018-10-12,17000,21750,12100,30700,35850,32400,123750,12950,11900,19700,12
192,2018-10-15,17150,21750,12100,35550,36200,32900,123750,12950,11900,19700,15
193,2018-10-16,19000,22000,12100,35700,35900,32900,123750,12950,11900,19700,16
194,2018-10-17,19000,22500,12100,34350,35950,32900,123750,12950,11850,19850,17
195,2018-10-18,19000,22500,12100,33900,36650,32650,123750,12950,11850,19850,18
196,2018-10-19,19000,22500,12100,36400,35650,32250,123750,12950,11850,19850,19
197,2018-10-22,19000,23150,12100,34350,35600,31250,123750,12950,11850,19850,22
198,2018-10-23,19000,23150,12100,33700,35100,31000,123750,12950,11850,19850,23
199,2018-10-24,19000,23150,12100,32100,34600,30250,123750,12950,11850,19850,24
200,2018-10-25,19000,23150,12100,32150,34700,30250,123750,12950,11850,19850,25
201,2018-10-26,19000,23150,12100,31150,34350,30250,123750,12950,11850,19850,26
202,2018-10-29,19000,23750,12100,30400,34900,30150,123750,12950,11850,19850,29
203,2018-10-30,19000,23750,12100,29750,34850,30150,123750,12950,11850,19850,30
204,2018-10-31,19000,23750,12100,31150,34350,30000,123750,12950,11850,19750,31
205,2018-11-01,19000,23750,12100,30600,34500,29750,123750,12950,11800,19750,1
206,2018-11-02,20750,23750,12100,30500,33500,29500,123750,12950,11800,19750,2
207,2018-11-05,20750,23750,12100,32200,33600,27500,123750,12950,11800,19750,5
208,2018-11-06,20750,23750,12100,30650,32900,26900,123750,12950,11800,19750,6
209,2018-11-07,20750,23750,12100,30750,32900,26500,123750,12950,11800,19750,7
210,2018-11-08,20650,23750,12100,30750,32350,25500,123750,12950,11800,19650,8
211,2018-11-09,20650,23750,12100,31000,31950,25500,123750,12950,11800,19650,9
212,2018-11-12,21400,23500,12100,30150,32400,26750,123750,12950,11800,19700,12
213,2018-11-13,22650,23500,12100,28900,32200,27650,123750,12950,11800,19700,13
214,2018-11-14,23650,22150,12100,28900,32400,28900,123750,12950,11800,20100,14
215,2018-11-15,23650,22150,12100,28700,32150,29250,123750,12950,11800,20100,15
216,2018-11-16,25000,22150,12100,30550,32300,29150,123750,12950,11800,20150,16
217,2018-11-19,25150,20750,12100,27350,32600,30150,123750,12950,11750,20200,19
218,2018-11-21,25150,20250,12100,26700,33450,30650,123750,12950,11750,20200,21
219,2018-11-22,25400,20000,12100,26400,32650,30500,123750,12950,11750,20200,22
220,2018-11-23,25400,20000,12100,25900,32900,30900,123750,12950,11750,20300,23
221,2018-11-26,25400,20000,12100,27950,32600,32000,123750,12950,11750,20300,26
222,2018-11-27,25400,20000,12100,28000,32700,32000,123750,12950,11750,20300,27
223,2018-11-28,25500,20000,12100,25600,32100,32150,123750,12950,11700,20300,28
224,2018-11-29,25500,20000,12100,25500,32150,32000,123750,12950,11650,20300,29
225,2018-11-30,25250,19750,12100,25400,31950,32000,123750,12950,11650,20300,30
226,2018-12-03,25250,19750,12100,26500,33000,32000,123750,12950,11650,20900,3
227,2018-12-04,25250,20000,12100,26600,32850,32000,123750,12950,11650,20950,4
228,2018-12-05,25750,19750,12100,26100,32600,31900,123750,12950,11650,20950,5
229,2018-12-06,25750,19750,12100,26450,31950,31900,123750,12950,11650,21050,6
230,2018-12-07,26750,19750,12100,26800,32700,32000,123750,12950,11650,21050,7
231,2018-12-10,26750,20000,12100,30150,32200,32000,123750,12950,11650,21100,10
232,2018-12-11,27000,20000,12100,28500,31900,32000,123750,12950,11650,21150,11
233,2018-12-12,28250,20000,12100,28000,32450,32000,123750,12950,11650,21350,12
234,2018-12-13,28250,20000,12100,26950,32000,32000,123750,12950,11650,21650,13
235,2018-12-14,28250,20000,12100,27200,30750,32150,123750,12950,11650,21650,14
236,2018-12-17,28500,20000,12100,28450,31500,33250,123750,12950,11650,21700,17
237,2018-12-18,27500,20000,12100,28600,31350,33500,123750,12950,11650,21650,18
238,2018-12-19,27500,20000,12100,28250,31950,35750,123750,12950,11650,21650,19
239,2018-12-20,27500,20000,12100,28050,31600,35650,123750,12950,11650,21650,20
240,2018-12-21,27500,20000,12100,28100,32850,37150,123750,12950,11650,21650,21
241,2018-12-26,27250,20000,12100,27200,35350,38900,123750,12950,11650,21650,26
242,2018-12-27,26250,20000,12100,27200,34950,38750,123750,12950,11650,21650,27
243,2018-12-28,25900,20000,12100,26350,37550,38750,123750,12950,11650,21650,28
244,2018-12-31,27250,20000,12100,25250,39400,39650,129400,12950,11650,21700,31

In [122]:
all_df_pivot['2019']

Komoditas,Tanggal,Bawang Merah,Bawang Putih,Beras,Cabai Merah,Cabai Rawit,Daging Ayam,Daging Sapi,Gula Pasir,Minyak Goreng,Telur Ayam,Hari
0,2019-01-02,27000,18000,11650,25250,32750,38500,125000,12450,11300,22250,2
1,2019-01-03,27000,18000,11650,25500,37000,38500,125000,12450,11300,22150,3
2,2019-01-04,26250,17500,11650,22500,36000,38000,125000,12450,11300,22150,4
3,2019-01-07,25750,17250,11650,18750,31400,35250,125000,12450,11300,22150,7
4,2019-01-08,25750,17250,11650,20000,28400,34000,122500,12450,11300,22150,8
5,2019-01-09,26000,17000,11650,18000,23000,33000,122500,12450,11300,22150,9
6,2019-01-10,26000,17000,11650,16750,21750,32250,122500,12450,11300,22150,10
7,2019-01-11,26000,17000,11650,16750,20250,31250,122500,12450,11300,22150,11
8,2019-01-14,24500,17000,11650,17500,26500,29750,122500,12450,11200,22150,14
9,2019-01-15,24500,17000,11650,17000,29150,30500,122500,12450,11200,21650,15
10,2019-01-16,24500,17750,11650,16750,28750,31750,122500,12450,11250,21250,16
11,2019-01-17,24500,17750,11650,16400,28900,31750,122500,12450,11300,21250,17
12,2019-01-18,24500,17500,11650,16750,28750,31500,122500,12450,11300,21250,18
13,2019-01-21,24500,18000,11650,15650,27900,31750,122500,12450,11300,21250,21
14,2019-01-22,24500,18000,11650,15750,24900,30500,122500,12450,11300,21250,22
15,2019-01-23,24500,18000,11700,17250,25400,28750,122500,12450,11350,21250,23
16,2019-01-24,24500,18000,11700,16500,24150,27750,122500,12450,11350,21250,24
17,2019-01-25,24500,18000,11700,16250,25750,27250,122500,12450,11350,21150,25
18,2019-01-28,24000,18000,11700,16150,25750,26000,122500,12450,11450,21150,28
19,2019-01-29,24500,18000,11700,16650,26500,25250,122500,12450,11450,21150,29
20,2019-01-30,22000,18000,11700,17250,26250,25250,122500,12450,11500,21150,30
21,2019-01-31,22000,18000,11700,17400,24150,25000,122500,12450,11500,21000,31
22,2019-02-01,22000,18000,11700,17400,24150,24750,122500,12450,11500,21000,1
23,2019-02-04,22000,18000,11700,16750,23400,26250,122500,12450,11500,21000,4
24,2019-02-06,22000,18000,11700,16400,21750,27250,122500,12450,11500,21000,6
25,2019-02-07,21000,18000,11700,15650,20500,27250,122500,12450,11500,21000,7
26,2019-02-08,21000,18000,11700,15250,20250,27750,122500,12450,11500,21000,8
27,2019-02-11,21000,18000,11700,19000,22150,27750,122500,12450,11500,21000,11
28,2019-02-12,21000,18000,11700,16500,22250,27750,122500,12450,11500,21000,12
29,2019-02-13,21000,19000,11700,15900,23000,27500,122500,12450,11500,21000,13
30,2019-02-14,22000,20000,11700,14900,23250,27750,122500,12450,11500,21000,14
31,2019-02-15,22000,20000,11700,15900,23000,27000,122500,12450,11500,21000,15
32,2019-02-18,22000,20000,11700,15750,21750,26000,122500,12450,11500,20500,18
33,2019-02-19,21500,20000,11700,14750,19150,26000,122500,12450,11500,20500,19
34,2019-02-20,21000,20000,11700,14500,19000,26000,122500,12450,11500,20250,20
35,2019-02-21,22000,20500,11700,14250,20250,26000,122500,12450,11600,20250,21
36,2019-02-22,22000,20500,11700,16400,20750,26000,122500,12450,11600,20000,22
37,2019-02-25,23000,20500,11700,18000,24500,28500,122500,12450,11600,20000,25
38,2019-02-26,23750,20500,11700,18500,25150,28500,122500,12450,11600,20000,26
39,2019-02-27,24750,20500,11700,17750,23150,28000,122500,12450,11600,20000,27
40,2019-02-28,24750,20500,11700,15400,21900,28000,122500,12450,11600,20000,28
41,2019-03-01,24750,20500,11700,16500,21500,28000,122500,12450,11600,20000,1
42,2019-03-04,25500,20500,11700,19750,27250,27250,122500,12450,11600,20000,4
43,2019-03-05,26750,20500,11700,17000,25650,26500,122500,12450,11600,20000,5
44,2019-03-06,29000,22500,11700,14150,29400,26500,122500,12450,11600,20000,6
45,2019-03-08,30000,22500,11700,16500,25500,25750,122500,12450,11600,19900,8
46,2019-03-11,32250,24000,11700,20650,25500,25750,122500,12450,11600,19900,11
47,2019-03-12,32000,24250,11700,18750,24750,27750,122500,12550,11600,19900,12
48,2019-03-13,31500,25000,11700,18150,23750,27750,122500,12550,11600,19900,13
49,2019-03-14,31500,25000,11700,18650,24650,28000,122500,12550,11600,19900,14
50,2019-03-15,31000,25000,11700,19000,24400,28000,122500,12550,11600,19750,15
51,2019-03-18,30000,25750,11700,21000,25650,28000,122500,12550,11600,19750,18
52,2019-03-19,29500,25750,11700,20000,26000,28500,122500,12550,11600,19750,19
53,2019-03-20,29500,26000,11700,19400,25150,29500,122500,12550,11600,19750,20
54,2019-03-21,29500,26000,11650,18250,23650,29250,122500,12550,11600,19750,21
55,2019-03-22,29500,26000,11650,18250,23650,29500,122500,12550,11550,19750,22
56,2019-03-25,36250,26250,11650,21150,24150,28500,122500,12550,11550,19750,25
57,2019-03-26,34000,26000,11650,18500,23250,28000,122500,12550,11550,19750,26
58,2019-03-27,34000,26000,11650,19000,22650,28000,122500,12550,11550,19750,27
59,2019-03-28,36000,26000,11650,18500,22250,28000,122500,12550,11550,19750,28
60,2019-03-29,36000,26000,11650,20000,22250,28000,122500,12550,11550,19750,29
61,2019-04-01,36000,26000,11650,16400,21400,28000,122500,12550,11550,19750,1
62,2019-04-02,36000,26000,11650,15500,21150,28000,122500,12550,11550,19750,2
63,2019-04-04,35750,29000,11650,18000,21650,27750,122500,12550,11550,19750,4
64,2019-04-05,35750,30000,11650,18500,21650,27750,122500,12550,11550,19750,5
65,2019-04-08,36000,30000,11650,16400,21650,26250,122500,12550,11550,20850,8
66,2019-04-09,36000,30000,11650,16400,21500,26500,122500,12550,11550,20850,9
67,2019-04-10,36000,31000,11650,17900,22000,27000,122500,12550,11550,20850,10
68,2019-04-11,36000,31000,11650,17250,22150,27000,122500,12550,11550,20950,11
69,2019-04-12,36250,33250,11650,17250,23750,29250,122500,12550,11550,20950,12
70,2019-04-15,35750,38250,11650,21750,25000,29500,122500,12550,11550,21150,15
71,2019-04-16,35500,40000,11650,21250,23150,29750,122500,12550,11550,21000,16
72,2019-04-17,35500,40000,11650,21250,23150,29750,122500,12550,11550,21000,17
73,2019-04-18,35000,45000,11650,19250,26400,29750,122500,12550,11550,21000,18
74,2019-04-22,34000,44250,11650,24750,42500,38250,122500,12550,11550,21000,22
75,2019-04-23,32750,40000,11650,23750,41900,38250,122500,12550,11550,21000,23
76,2019-04-24,32750,40000,11650,20500,38250,38750,122500,12550,11550,21000,24
77,2019-04-25,32750,40000,11650,21000,36500,38750,122500,12550,11550,21000,25
78,2019-04-26,32750,40500,11650,22750,34900,37750,122500,12550,11550,21000,26
79,2019-04-29,34000,40000,11650,18000,30750,38000,122500,12650,11550,21000,29
80,2019-04-30,34000,40000,11650,16650,31500,38000,122500,12700,11550,21000,30
81,2019-05-02,33500,80000,11650,30650,33500,37250,122500,12700,11550,21000,2
82,2019-05-03,33500,100000,11650,31750,39000,37250,122500,12700,11550,21000,3
83,2019-05-06,33500,95000,11650,38400,38250,36250,132500,13150,11550,21000,6
84,2019-05-07,31750,80000,11650,31900,34650,35250,122500,13150,11550,21000,7
85,2019-05-08,31500,57000,11650,31750,34750,34250,122500,13150,11550,21000,8
86,2019-05-09,29000,50000,11650,32000,37900,33750,120000,13200,11550,21000,9
87,2019-05-10,28500,50000,11650,22900,35150,32750,120000,13200,11550,21000,10
88,2019-05-13,31000,35250,11650,23250,29900,31750,120000,13200,11550,21000,13
89,2019-05-14,30000,34750,11650,28000,31000,31250,120000,13200,11550,21000,14
90,2019-05-15,30000,34500,11650,29500,31900,30750,120000,13200,11550,21000,15
91,2019-05-16,30000,34500,11650,22250,30500,29750,120000,13200,11550,21000,16
92,2019-05-17,30000,34500,11650,22000,31000,29750,120000,13200,11550,21000,17
93,2019-05-20,26500,30000,11650,25250,28250,27750,120000,13200,11550,21000,20
94,2019-05-21,26500,29000,11650,26150,27500,27500,120000,13200,11550,21000,21
95,2019-05-22,26500,29000,11650,26650,27400,27750,120000,13200,11550,21000,22
96,2019-05-23,27500,29500,11650,26150,30250,29250,120000,13200,11550,21000,23
97,2019-05-24,27500,29500,11650,25250,30750,29750,120000,13200,11550,21000,24
98,2019-05-27,30000,30000,11650,31400,31250,30000,120000,13200,11550,21000,27
99,2019-05-28,31250,30000,11650,31150,30500,31750,120000,13200,11550,21000,28
100,2019-05-29,31500,30000,11650,33500,36000,33500,120000,13200,11550,21000,29
101,2019-05-31,32750,32000,11650,34400,32500,33500,128750,13200,11550,21000,31
102,2019-06-03,32250,33250,11650,53250,35400,35250,128750,13200,11550,21400,3
103,2019-06-04,36500,35750,11650,82500,50650,35500,142500,13200,11550,21400,4
104,2019-06-10,30750,34250,11650,33500,41000,35000,122500,13200,11550,21000,10
105,2019-06-11,31500,33500,11650,30750,32500,34250,122500,13200,11550,21000,11
106,2019-06-12,32500,33000,11650,46650,33500,34250,122500,13200,11550,20850,12
107,2019-06-13,32500,33000,11650,47400,31900,33750,122500,13200,11550,20600,13
108,2019-06-14,32500,33000,11650,53400,31650,33500,122500,13200,11550,20600,14
109,2019-06-17,31500,33000,11650,43750,30250,33000,122500,13200,11550,20600,17
110,2019-06-18,31500,32750,11650,50250,32500,32750,122500,13200,11550,20450,18
111,2019-06-19,31500,32750,11650,49000,35000,32250,122500,13200,11550,20450,19
112,2019-06-20,31500,32750,11650,54250,36500,32250,122500,13200,11550,20100,20
113,2019-06-21,31500,32750,11650,51500,40000,30000,122500,13200,11550,20100,21
114,2019-06-24,30500,31500,11650,51250,51900,29750,122500,13200,11550,20100,24
115,2019-06-25,30500,31500,11650,50500,52000,28250,122500,13200,11550,20100,25
116,2019-06-26,31000,31000,11650,50000,49500,27750,122500,13200,11550,20100,26
117,2019-06-27,31000,31000,11650,51250,47250,28000,122500,13200,11550,20100,27
118,2019-06-28,31000,31000,11650,53650,45400,28000,122500,13200,11550,20100,28
119,2019-07-01,30000,30000,11650,53650,56250,27250,122500,13200,11550,20450,1
120,2019-07-02,30000,30000,11650,59500,59400,27000,122500,13200,11550,20900,2
121,2019-07-03,30000,30000,11650,64750,60000,28000,122500,13200,11550,20900,3
122,2019-07-04,29000,29500,11650,66650,64250,30000,122500,13200,11550,21000,4
123,2019-07-05,28500,29500,11650,63650,64500,34750,122500,13200,11550,21000,5
124,2019-07-08,27500,29500,11650,55250,63250,37750,122500,13200,11550,21000,8
125,2019-07-09,27500,29500,11650,58500,59750,42500,122500,13200,11550,21000,9
126,2019-07-10,26500,29500,11650,58000,59400,40000,122500,13200,11550,21000,10
127,2019-07-11,26000,29500,11650,54150,61500,40500,122500,13200,11550,21000,11
128,2019-07-12,26000,29500,11650,55900,63000,41500,122500,13200,11550,21000,12
129,2019-07-15,25000,29500,11650,67500,97500,40000,122500,13200,11300,21000,15
130,2019-07-16,25000,29500,11650,70750,100000,40000,122500,13200,11300,21000,16
131,2019-07-17,25000,29500,11650,58900,101900,39250,122500,13200,11300,21000,17
132,2019-07-18,25250,29500,11650,53900,91650,37250,122500,13200,11300,21000,18
133,2019-07-19,25250,29500,11650,57150,85650,37250,122500,13200,11300,21000,19
134,2019-07-22,25500,29500,11650,56400,79400,35500,122500,13200,11300,21000,22
135,2019-07-23,25500,29500,11650,52900,71900,34000,122500,13200,11300,21000,23
136,2019-07-24,24750,29500,11650,51000,66250,32750,122500,13200,11300,21000,24
137,2019-07-25,24750,29500,11650,49650,71000,32750,122500,13200,11300,21000,25
138,2019-07-26,24750,29500,11650,53150,71000,32750,122500,13200,11300,21000,26
139,2019-07-29,25000,28500,11650,55000,80750,28750,122500,13200,11250,21400,29
140,2019-07-30,25000,28500,11650,51150,92000,28750,122500,13200,11250,21400,30
141,2019-07-31,25000,28000,11650,52500,91500,28000,122500,13200,11250,21500,31
142,2019-08-01,25000,27500,11650,52150,81900,27500,122500,13200,11250,21500,1
143,2019-08-02,24250,27500,11650,58500,82250,27500,122500,13200,11250,21650,2
144,2019-08-05,23500,26750,11650,62750,67500,28000,122500,13200,11250,21650,5
145,2019-08-06,23500,26750,11650,57750,66500,28000,122500,13200,11250,21650,6
146,2019-08-07,23500,26750,11650,65750,69400,28000,122500,13200,11250,21650,7
147,2019-08-08,23500,26750,11650,89150,72000,29750,122500,13200,11250,21650,8
148,2019-08-09,23500,26750,11650,80650,72900,29750,122500,13200,11250,21650,9
149,2019-08-12,23500,26750,11650,82150,75500,31250,122500,13200,11250,21650,12
150,2019-08-13,23500,26750,11650,80250,87750,29750,122500,13200,11250,21650,13
151,2019-08-14,23500,26750,11650,77650,90000,28750,122500,13200,11250,21650,14
152,2019-08-15,23500,26750,11650,72750,97400,27750,122500,13200,11250,21650,15
153,2019-08-16,22500,27500,11650,59250,85650,25750,122500,13200,11250,21650,16
154,2019-08-19,19500,28000,11650,67650,65000,24750,122500,13200,11250,21650,19
155,2019-08-20,19500,28000,11650,67900,65650,23250,122500,13200,11250,21650,20
156,2019-08-21,19500,28000,11650,63650,66650,23750,122500,13200,11250,21650,21
157,2019-08-22,19500,28000,11650,59750,64400,24250,122500,13200,11250,21650,22
158,2019-08-23,19000,28000,11650,59000,62500,24250,122500,13200,11250,21650,23
159,2019-08-26,19000,28000,11650,54000,74500,25000,122500,13200,11250,21650,26
160,2019-08-27,19000,28000,11650,56250,75000,24000,122500,13200,11250,21650,27
161,2019-08-28,17000,28000,11650,52750,67250,23750,122500,13200,11250,21000,28
162,2019-08-29,17000,28000,11650,55900,62750,23750,122500,13200,11250,21000,29
163,2019-08-30,16750,27500,11650,53150,59150,22250,122500,13200,11250,21000,30
164,2019-09-02,17000,27000,11650,64750,53750,24500,122500,13200,11300,21000,2
165,2019-09-03,17750,27000,11650,52750,63500,24500,122500,13200,11300,21000,3
166,2019-09-04,17250,26500,11650,53150,69150,25000,122500,13200,11450,21000,4
167,2019-09-05,17500,26500,11650,52250,66500,25250,122500,13200,11450,21000,5
168,2019-09-06,17500,26500,11650,47500,73150,25000,122500,13200,11450,21000,6
169,2019-09-09,17000,27500,11650,41000,65000,25250,122500,13200,11450,21000,9
170,2019-09-10,17000,27500,11650,40000,65000,25750,122500,13200,11450,21000,10
171,2019-09-11,17000,27500,11650,39150,65500,26500,122500,13200,11450,21000,11
172,2019-09-12,17000,27500,11650,37000,61250,27750,122500,13200,11450,21000,12
173,2019-09-13,17000,27500,11650,31400,59500,30250,122500,13200,11450,21000,13
174,2019-09-16,16750,27500,11650,33500,47750,34750,122500,13200,11450,20500,16
175,2019-09-17,16750,27500,11650,32750,50650,34750,122500,13200,11450,20150,17
176,2019-09-18,16750,27500,11650,27000,52250,35000,122500,13200,11450,20150,18
177,2019-09-19,16750,27500,11650,23500,51900,35000,122500,13200,11450,20150,19
178,2019-09-20,17000,27500,11650,26250,54000,35000,122500,13200,11450,20150,20
179,2019-09-23,17000,27500,11650,28650,53750,34250,122500,13200,11450,20150,23
180,2019-09-24,17000,27500,11650,27750,43250,32000,122500,13200,11450,20150,24
181,2019-09-25,17000,27500,11650,29250,42750,32000,122500,13200,11450,20150,25
182,2019-09-26,17000,26000,11650,27750,44750,30750,122500,13200,11450,20150,26
183,2019-09-27,17000,26000,11650,27250,43000,30000,122500,13200,11450,20150,27
184,2019-09-30,17000,26000,11700,32650,52750,29000,122500,13200,11450,20150,30
185,2019-10-01,17000,26000,11700,32750,51900,29750,122500,13200,11450,20150,1
186,2019-10-02,17000,26000,11700,30650,52900,30000,122500,13200,11450,20150,2
187,2019-10-03,16750,26000,11700,29500,49750,32750,122500,13200,11450,20150,3
188,2019-10-04,16750,26000,11700,30000,48000,33000,122500,13200,11450,20150,4
189,2019-10-07,17000,26000,11700,31000,45250,32750,122500,13200,11450,20150,7
190,2019-10-08,17000,26000,11700,32650,45500,31500,122500,13200,11450,20150,8
191,2019-10-09,17000,26000,11700,33400,46000,31250,122500,13200,11450,20150,9
192,2019-10-10,17000,26000,11700,30750,48000,32250,122500,13200,11450,20000,10
193,2019-10-11,17000,26000,11700,32000,49900,32750,122500,13200,11450,20000,11
194,2019-10-14,24500,26000,11700,30250,49750,34000,122500,13200,11450,20000,14
195,2019-10-15,25500,26000,11700,30750,46000,34750,122500,13450,11450,20000,15
196,2019-10-16,25500,26000,11700,31750,46900,34750,122500,13450,11450,20000,16
197,2019-10-17,25750,26000,11700,31150,43500,34750,122500,13450,11450,20150,17
198,2019-10-18,26250,26000,11700,28000,43250,34750,122500,13450,11450,20150,18
199,2019-10-21,25750,26000,11700,29500,43500,33250,122500,13450,11450,20150,21
200,2019-10-22,26000,26000,11700,25150,37500,33000,122500,13450,11450,20150,22
201,2019-10-23,26000,26000,11700,23900,33250,33000,122500,13450,11450,20150,23
202,2019-10-24,24000,26000,11700,23250,31000,33000,122500,13450,11450,20150,24
203,2019-10-25,24000,26000,11700,25750,35500,33000,122500,13450,11450,20150,25
204,2019-10-28,24000,26000,11700,22750,35750,31750,122500,13450,11450,19900,28
205,2019-10-29,24000,26000,11700,24400,37750,31750,122500,13450,11450,19900,29
206,2019-10-30,23000,26000,11700,22750,36750,31750,122500,13450,11450,19900,30
207,2019-10-31,24000,26000,11700,23500,36250,31750,122500,13450,11450,19900,31
208,2019-11-01,24000,26000,11700,25000,38400,31500,122500,13450,11450,19900,1
209,2019-11-04,24500,26000,11700,30750,36000,30250,122500,13450,11450,19900,4
210,2019-11-05,25250,25000,11700,38750,38150,29750,122500,13450,11450,19750,5
211,2019-11-06,26500,25000,11700,38000,37000,29500,122500,13450,11450,19750,6
212,2019-11-07,26750,25750,11700,30500,35900,29500,122500,13450,11450,19750,7
213,2019-11-08,27750,25750,11700,36000,35250,30500,122500,13450,11450,19750,8
214,2019-11-11,30000,25750,11700,29900,38000,30000,122500,13450,11450,19750,11
215,2019-11-12,30000,26000,11700,27750,37000,30000,122500,13450,11450,19750,12
216,2019-11-13,30000,26000,11700,27150,36000,31250,122500,13450,11450,19750,13
217,2019-11-14,30000,26000,11700,24500,39000,32250,122500,13450,11700,19750,14
218,2019-11-15,31500,28000,11700,26500,37400,32250,122500,13450,11700,19750,15
219,2019-11-18,31500,28000,11700,30000,34750,32750,122500,13450,11700,20650,18
220,2019-11-19,31500,28000,11700,28000,33900,33250,122500,13450,11700,20650,19
221,2019-11-20,31500,28000,11700,28000,31750,33250,122500,13450,11700,20750,20
222,2019-11-21,31000,28000,11700,27650,32500,33250,122500,13450,11700,20750,21
223,2019-11-22,30000,27500,11700,25500,33500,33250,122500,13450,11700,21250,22
224,2019-11-25,29500,27500,11700,26250,32250,32250,122500,13450,11700,21250,25
225,2019-11-26,29500,27500,11700,27750,32750,32000,122500,13450,11700,22000,26
226,2019-11-27,29500,27500,11700,22400,38150,32000,122500,13450,11700,22000,27
227,2019-11-28,29000,26000,11700,22250,37250,32000,122500,13450,11700,22000,28
228,2019-11-29,29000,26000,11700,21750,35250,32000,122500,13450,11700,22000,29
229,2019-12-02,30500,26000,11700,23500,33500,30250,122500,13450,11700,22400,2
230,2019-12-03,30500,26000,11700,22250,30000,30000,122500,13450,11700,22400,3
231,2019-12-04,30500,26000,11700,24250,31250,29250,122500,13450,11700,22400,4
232,2019-12-05,30500,26000,11700,24000,33000,29250,122500,13450,11700,22400,5
233,2019-12-06,30500,26000,11700,24250,31750,29000,122500,13450,11700,22500,6
234,2019-12-09,30500,26000,11700,27250,32250,28000,122500,13450,11700,22500,9
235,2019-12-10,30500,26000,11700,27150,38500,28000,122500,13450,11700,22500,10
236,2019-12-11,30000,26000,11700,26250,37400,28000,122500,13450,11700,22500,11
237,2019-12-12,30000,26000,11700,29500,39750,29750,122500,13450,11700,22500,12
238,2019-12-13,30000,26000,11700,33750,40250,30750,122500,13450,11700,22500,13
239,2019-12-16,31000,26000,11700,31000,38250,31250,122500,13450,11700,22500,16
240,2019-12-17,31500,26000,11700,32000,35500,32000,122500,13450,11700,22500,17
241,2019-12-18,33750,26000,11700,33500,35250,32000,122500,13450,11700,22500,18
242,2019-12-19,35500,26000,11700,32650,34650,31750,122500,13450,11700,22500,19
243,2019-12-20,35750,26000,11700,33900,34250,32250,122500,13450,11700,22500,20
244,2019-12-23,36500,26000,11700,32900,43500,32500,122500,13450,11700,22500,23
245,2019-12-26,38500,26000,11700,28900,40150,33250,122500,13450,11700,22500,26
246,2019-12-27,38500,26000,11700,31000,38000,33750,122500,13450,11800,22500,27
247,2019-12-30,38500,26000,11700,29250,40250,34250,122500,13450,12000,22150,30
248,2019-12-31,37500,27000,11700,34500,43750,34250,122500,13450,12000,22150,31

In [123]:
all_df_aggregate['2018']

   No.      Komoditas       Mean  Median     Max     Min      STD
0    1   Bawang Merah   24526.73   23650   35750   16250  5194.57
1    2   Bawang Putih   24528.16   23500   41650   19250  4585.37
2    3          Beras   12026.33   11950   12200   11900    79.90
3    4    Cabai Merah   32926.33   30600   55650   21000  7440.71
4    5    Cabai Rawit   40511.02   39050   54400   30750  6426.35
5    6    Daging Ayam   34289.39   33000   51900   25000  5173.44
6    7    Daging Sapi  123804.90  123750  135000  115750  1944.63
7    8     Gula Pasir   13050.82   13050   13750   12950   122.72
8    9  Minyak Goreng   12393.88   12600   12750   11650   391.41
9   10     Telur Ayam   20956.33   20800   23750   19250  1222.50

In [124]:
all_df_aggregate['2019']

   No.      Komoditas       Mean  Median     Max     Min       STD
0    1   Bawang Merah   26744.98   26250   38500   16750   5775.60
1    2   Bawang Putih   28098.39   26750  100000   17000   9815.30
2    3          Beras   11670.88   11650   11700   11650     24.71
3    4    Cabai Merah   33237.15   28000   89150   14150  16875.94
4    5    Cabai Rawit   41771.29   36000  101900   19000  18916.40
5    6    Daging Ayam   30662.65   30000   42500   22250   3908.37
6    7    Daging Sapi  122560.24  122500  142500  120000   1675.21
7    8     Gula Pasir   13020.28   13200   13450   12450    382.85
8    9  Minyak Goreng   11491.16   11550   12000   11200    143.13
9   10     Telur Ayam   20881.73   21000   22500   19750    793.25

#Initial Conclusion

From the simple descriptive statistic agregat we can see Cabai rawit and cabai merah in 2018 and 2019 both have Mean Bigger than median This means there is a possibility of outliers for both commodity price
Further hipotesis testing needed to see if there is a significant different between 2019 commodities price and 2018 commodities price